.doctor-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    .col-lg-3{
     align-items: stretch;
     display: flex;
     .profile-widget{
        width: 100%;
        align-items: stretch;
        display: flex;
        flex-direction: column;
     }
    }
}